{% extends 'hospital/homebase.html' %}
{% load static %}



{% block content %}


<head>
  <style media="screen">
    .jumbotron {
      margin-bottom: 0px;
      height: 60vh;
      background-image: url('{% static "images/back.png" %}');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .jumbotron h5,
    h3 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
</head>
<div class="mt-4">
    {% comment %} <h2>Password Reset</h2> {% endcomment %}
    <br>
    <br>
    <p>fillup password twice</p>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="update password">
        </form>
</div>
 


{% endblock content %}